---
- name: Check if Restic is installed
  ansible.builtin.command: "{{ restic_install_path }}/restic version"
  changed_when: false
  failed_when: false
  register: restic_current

- name: Extract installed Restic version
  ansible.builtin.set_fact:
    restic_installed_version: "{{ restic_current.stdout.split()[1] | default('') }}"

- name: Decide if Restic needs update
  ansible.builtin.set_fact:
    restic_needs_update: "{{ restic_installed_version != restic_version }}"

- name: Ensure dependencies are installed
  ansible.builtin.apt:
    name: "{{ restic_dependencies }}"
    state: present
    update_cache: true
  when: restic_needs_update

- name: Download Restic archive
  ansible.builtin.get_url:
    dest: "{{ restic_download_path }}/restic.bz2"
    force: true
    mode: "0644"
    url: "https://github.com/restic/restic/releases/download/v{{ restic_version }}/restic_{{ restic_version }}_linux_{{ restic_arch_map[ansible_facts['architecture']] }}.bz2"
  when: restic_needs_update

- name: Decompress Restic binary
  ansible.builtin.shell: >
    bunzip2 -c {{ restic_download_path }}/restic.bz2 > {{ restic_install_path }}/restic
  args:
    executable: /bin/bash
  changed_when: true
  when: restic_needs_update

- name: Ensure Restic binary permissions
  ansible.builtin.file:
    group: staff
    mode: "0755"
    owner: root
    path: "{{ restic_install_path }}/restic"
  when: restic_needs_update

- name: Ensure Restic password files path exist
  ansible.builtin.file:
    dest: "{{ item.path | dirname }}"
    group: "{{ item.group | d('root') }}"
    mode: "0750"
    owner: "{{ item.owner | d('root') }}"
    state: directory
  loop: "{{ restic_password_files }}"

- name: Ensure Restic password files exist
  ansible.builtin.copy:
    content: "{{ item.password }}"
    dest: "{{ item.path }}"
    group: "{{ item.group | d('root') }}"
    mode: "0400"
    owner: "{{ item.owner | d('root') }}"
  loop: "{{ restic_password_files }}"
  no_log: true
